<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <h2 class="cs-title">Brand Partnership Interest?</h2>
    <p>
      Ready to Ignite a Collaborative Spark? Share your interest in building
      authentic brand partnerships by filling out our Partnership Interest Form
      below. Together, let's create powerful stories that truly resonate!
    </p>
  </div>
  <!-- ============================================ -->
  <!--                Contact Form                  -->
  <!-- ============================================ -->

  <section id="contact-form">
    <div class="cs-container">
      <!-- Form -->
      <form id="form" name="Contact Form" method="POST" netlify>
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="name"
            name="name"
            placeholder="John/Jane Doe"
          />
        </label>
        <label class="cs-label">
          Email
          <input
            class="cs-input"
            required
            type="text"
            id="email"
            name="email"
            placeholder="name@company.com"
          />
        </label>
        <label class="cs-label">
          Phone
          <input
            class="cs-input"
            required
            type="text"
            id="phone"
            name="phone"
            placeholder="+1 (555) 987-6543"
          />
        </label>
        <label class="cs-label">
          Subject
          <input
            class="cs-input"
            type="text"
            id="find"
            name="find-us"
            placeholder="Brand Partnership with..."
          />
        </label>
        <label class="cs-label cs-label-message">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message"
            placeholder="Hello, I’m interested in..."
          ></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit">
          Submit Message Now
        </button>
      </form>
    </div>
  </section>
</section>
