<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="credit">
    <span>
      &#169; Ché & Cherice | Website Designed & Hand Coded by Ché - Powered by
      Love
    </span>
    <img
      class="heart"
      loading="lazy"
      decoding="async"
      src="/assets/svgs/heart.svg"
      alt="heart"
      width="15"
      height="15"
    />
  </div>
  <div class="footer-links">
    <a href="/privacy"> Privacy Policy </a>
    <a href="/disclaimer"> Disclaimer </a>
    <a href="/terms"> Terms & Conditions </a>
  </div>
</footer>
