<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-container">
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how many there are-->
      <!-- This also allows for easy substitution of CodeStitch navigations. Just replace the .cs-ul-wrapper in the new navigation with this one -->
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          {% set navPages = collections.all | eleventyNavigation %}
          <!-- Loop through all pages with an eleventyNavigation in the frontmatter -->
          {% for entry in navPages %}
          <!-- Define a hasChild variable to make it easier to test what links are dropdowns-->
          {% set hasChild = entry.children.length %}

          <!-- If this page is a dropdown, give it the appropriate classes, icons, and accessibility attributes-->
          <li
            class="cs-li {% if hasChild %} cs-dropdown {% endif %}"
            {%
            if
            hasChild
            %}
            tabindex="0"
            {%
            endif
            %}
          >
            <!-- Similarly, if the link is active, apply the necessary classes -->
            <a
              href="{{ entry.url }}"
              class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}"
            >
              {{ entry.key }} {% if hasChild %}
              <img
                class="cs-drop-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
                alt="dropdown icon"
                width="15"
                height="15"
                decoding="async"
                aria-hidden="true"
              />
              {% endif %}
            </a>
            <!-- Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link -->
            {% if hasChild %}
            <ul class="cs-drop-ul">
              {% for child in entry.children %}
              <li class="cs-drop-li">
                <a href="{{ child.url }}" class="cs-li-link cs-drop-link"
                  >{{ child.key }}</a
                >
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
          <li class="social-container">
            <h3 class="cs-social">
              <span> Join </span>
              <span> the crew </span>
            </h3>
            <ul class="social-links">
              <li>
                <a
                  class="icon-ig icon--instagram"
                  aria-label="Instagram Link"
                  href="https://www.instagram.com/cheandcherice/"
                  ><i class="ri-instagram-line"></i
                ></a>
              </li>
              <li><a 
              class="icon-fb icon--facebook" 
              aria-label="Facebook Link"
              href="https://www.facebook.com/cheandcherice/"
              >
                <i class="ri-facebook-line"></a></i>
              </li>
              <li>
                <a
                class="icon-yt icon--youtube" 
                aria-label="YouTube Link"
                href="https://youtube.com/user/87cherice"
                >
                <i class="ri-youtube-line"></i>
                </a>
              </li>
              <li>
                <a
                class="icon-p icon--pinterest" 
                aria-label="Pinterest Link"
                href="https://www.pinterest.com/cheandcherice1"
                >
                <i class="ri-pinterest-line"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
