---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-banner.webp'
permalink: 'about/'
eleventyNavigation:
  key: About Ché & Cherice
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/about.css" />
{# link below for social icons from remix icons cdn #}
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Get To Know Us</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/about-banner-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/about-banner.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/about-banner.webp"
      alt="modern living room"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--           Get To Know Us                  -->
<!-- ============================================ -->

<section id="about-us">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">Who Is Ché & Cherice</h2>
      <p class="cs-text">
        We are Ché & Cherice and this is our space where modern life, travel,
        and everyday essentials come together in perfect harmony. We are married
        millennials with a passion for exploring the world, cherishing the
        little things, and sharing our journey with you.
      </p>
      <p class="cs-text">
        We've always been captivated by the power of storytelling through
        visuals and words. Our journey began with capturing moments from our
        daily lives, sharing snippets of our vacations, and connecting with a
        community that felt like family. Now, as lifestyle digital creators,
        we've embarked on a new chapter, where we're excited to dive deeper into what makes life truly special.
      </p>
    </div>

    <a href="/about/#cta" class="cs-button-solid"
      >Contact Us
      <i class="ri-arrow-right-double-line right-arrow"></i>
    </a>
    <!--Floating Arrow Graphic-->
    <img
      class="cs-floater"
      src="/assets/images/tan-arrow.svg"
      alt="arrow"
      loading="lazy"
      decoding="async"
      aria-hidden="true"
    />
  </div>
</section>

<!-- ============================================ -->
<!--                 Collaborations                  -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Creative Content</span>
                <h2 class="cs-title">Where Everyday Living Meets Collaborations</h2>
            </div>
            <p class="cs-text">
                We've had the privilege of engaging in remarkable collaborations with outstanding companies. We take immense pride in teaming up with brands that align seamlessly with our daily lives, values, and authenticity, ensuring that each partnership is a genuine reflection of who we are and what we cherish.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/live-line.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Brand Partnerships</h3>
                <p class="cs-item-text">
                    We welcome brand partnerships that resonate with our authentic lifestyle, embracing opportunities to craft compelling narratives that genuinely connect with our audience.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/mic-2-line.svg" alt="icon" width="40" height="48">
                <h3 class="cs-h3">Digital Content Creators</h3>
                <p class="cs-item-text">
                    We collaborate closely with brands to curate digital content across Instagram, Our Blog, and Our Podcast, weaving captivating narratives that resonate with our dedicated community.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/camera-line.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Brand Collaborations</h3>
                <p class="cs-item-text">
                    We embrace brand collaborations by welcoming thoughtfully curated PR packages, fostering unique and authentic connections with brands that seamlessly integrate into our daily lives.
                </p>
            </li>
        </ul>
    </div>
</section>
        
                                    
<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-1312">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">Our Stats At A Glance</p>
            <p class="cs-name">Ché & Cherice</p>
        </div>
        <ul class="cs-card-group">
            <div class="cs-flex-group">
                <div class="cs-item">
                    <p class="cs-number">21k+</p>
                    <p class="cs-stat">Instagram</p>
                </div>
                <div class="cs-item">
                    <p class="cs-number">6k+</p>
                    <p class="cs-stat">YouTube</p>
                </div>
            </div>
            <div class="cs-flex-group">
                <div class="cs-item">
                    <p class="cs-number">1M+</p>
                    <p class="cs-stat">YouTube Views</p>
                </div>
                <div class="cs-item">
                    <p class="cs-number">3k+</p>
                    <p class="cs-stat">Podcast Listeners</p>
                </div>
            </div>
        </ul>
    </div>
</section>
                                                                

{% include 'components/cta.html' %} {% endblock %}
