---
title: 'Our Blog'
description: 'Ché & Cherice Blog'
preloadImg: '/assets/images/blog-page.webp'
permalink: 'blog/'
eleventyNavigation:
  key: Read Our Blog
  order: 500
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/blog.css" />
{# link below for social icons from remix icons cdn #}
<link
  defer
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Blog</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/blog-page.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/blog-page.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/blog-page.webp"
      alt="reading corner"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1289">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex-group">
        <span class="cs-topper">Latest Posts</span>
        <h2 class="cs-title">Catch Up On Our Latest Lifestyle Blog Posts</h2>
      </div>
      <p class="cs-text">
        Hey there, beautiful souls! Welcome to our vibrant corner of the
        internet where you can dive into the heart and soul of our everyday
        journey. Curled up with your device, you're not just reading words - you
        are stepping into our world and this is your window into our lives, a
        place where you can catch up on all the moments that make us who we are.
        So, grab your favorite cozy blanket, settle in, and let's catch up on
        all the chapters that make up our beautifully unique story.
      </p>
    </div>
    <ul class="cs-card-group">
      {% for post in collections.post | reverse %}
      <li class="cs-item">
        <a href="{{ post.url }}" class="cs-link">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{{ post.data.image }}" />
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{{ post.data.image }}" />
            <img
              loading="lazy"
              decoding="async"
              src="{{ post.data.image }}"
              alt="{{ post.data.imageAlt }}"
              width="270"
              height="200"
            />
          </picture>
          <span class="cs-date">{{ post.date | postDate }}</span>
          <h3 class="cs-h3">{{ post.data.title }}</h3>
          <p class="cs-item-text">{{ post.data.description }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
