---
title: 'Prodcasts'
description: 'Marriage Bliss & A Lot Of Other Sh!t Podcast'
preloadImg: '/assets/images/podcast.webp'
permalink: 'podcast/'
eleventyNavigation:
  key: Listen To Our Podcast
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/podcast.css" />
{# link below for social icons from remix icons cdn #}
<link
  defer
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Our Podcast</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/podcast-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/podcast.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/podcast.webp"
      alt="podcast image"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                   Header                    -->
<!-- ============================================ -->

<section id="why-choose-892">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Welcome To</span>
      <h2 class="cs-title">Marriage Bliss & A Lot of Other Sh!t</h2>
      <p class="cs-text">
        The podcast that&apos;s all about bringing you unfiltered conversations
        and candid insights into the wild journey of married millennials. In a
        world where picture-perfect social media often overshadows the reality
        of love and life, we are here to peel back the layers and dive into the
        real deal.
      </p>
      <p class="cs-text">
        Whether you are navigating the realms of singlehood, dating, engagement,
        or the beautiful chaos of marriage, we've got you covered. Expect no
        sugar&minus;coating, no glossing over the tough stuff &minus; just us
        sharing personal experiences, vulnerabilities, and wisdom gained from
        years of walking through the twists and turns of relationships.
      </p>
      <p class="cs-text">
        We are all about growth, positive vibes, and holding each other
        accountable to becoming the best versions of ourselves. When it comes to
        relationships, growth, and navigating life's rollercoaster &minus; we've
        got a whole lot of other sh!t to share.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Podcast                    -->
<!-- ============================================ -->

<section id="podcast">
  <iframe
    id="player_iframe"
    class="container"
    src="https://www.buzzsprout.com/2222548?client_source=large_player&iframe=true&referrer=https%3A%2F%2Fwww.buzzsprout.com%2F2222548%2Fpodcast%2Fembed"
    loading="lazy"
    width="100%"
    height="375"
    frameborder="0"
    scrolling="no"
    title="Marriage Bliss & A Lot Of Other Sh!t"
  ></iframe>
</section>

{% include 'components/cta.html' %} {% endblock %}
