---
title: 'Privacy Policy'
description: 'Ché & Cherice Website Privacy Policy'
permalink: 'privacy/'
---

{% extends "layouts/base.html" %} {% block head %} {# link below for social
icons from remix icons cdn #}
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<section id="policy">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Privacy Policy</h1>
      <h3>Effective Date: August 1, 2023</h3>
      <p>
        We are committed to protecting your privacy and ensuring the security of
        your personal information. This Privacy Policy outlines how we collect,
        use, and safeguard the information you provide while using our website.
        By accessing or using our website, you consent to the practices
        described in this Privacy Policy.
      </p>
      <h4>1. Information We Collect:</h4>
      <p>
        We do not collect any personal information from you unless you
        voluntarily provide it to us. While using our website, the following
        types of information may be collected:
      </p>
      <p>
        Usage Information: We may collect non-personal information about your
        interactions with our website, such as the pages you visit, the time
        spent on each page, and your general browsing habits. This information
        helps us improve the content and functionality of our website.
      </p>
      <h4>2. How We Use Your Information:</h4>
      <p>
        We only use the information we collect to enhance your experience on our
        website, provide relevant content, and analyze user behavior to improve
        our services. We do not use your information for marketing purposes, and
        we do not share your information with third parties.
      </p>
      <h4>3. Cookies and Tracking:</h4>
      <p>
        We use cookies and similar tracking technologies to gather information
        about your interactions with our website. Cookies are small text files
        that are stored on your device when you visit our website. These cookies
        help us improve the functionality of our website and understand how
        users navigate and engage with our content.
      </p>
      <h4>4. Third-Party Links:</h4>
      <p>
        Our website may contain links to third-party websites, such as social
        media platforms and other online resources. These links are provided for
        your convenience, and we are not responsible for the privacy practices
        or content of these third-party websites. We encourage you to review the
        privacy policies of any third-party websites you visit.
      </p>
      <h4>5. Data Security:</h4>
      <p>
        We implement reasonable security measures to protect the information we
        collect and prevent unauthorized access, disclosure, alteration, or
        destruction of your personal information. However, no method of
        transmission over the internet or electronic storage is 100% secure, and
        we cannot guarantee absolute security.
      </p>
      <h4>6. Children's Privacy:</h4>
      <p>
        Our website is not directed towards individuals under the age of 13. We
        do not knowingly collect personal information from children under the
        age of 13. If you are a parent or guardian and believe that your child
        has provided us with personal information, please contact us, and we
        will take steps to remove that information from our systems.
      </p>
      <h4>7. Changes to this Privacy Policy:</h4>
      <p>
        We may update this Privacy Policy from time to time to reflect changes
        to our practices or for other operational, legal, or regulatory reasons.
        Any changes will be posted on this page, and the effective date will be
        updated accordingly. We encourage you to review this Privacy Policy
        periodically.
      </p>
      <h4>8. Contact Us:</h4>
      <p>
        If you have any questions or concerns about this Privacy Policy or our
        practices, please contact us at hello@cheandcherice.com. By using our
        website, you acknowledge that you have read and understood this Privacy
        Policy and agree to its terms. If you do not agree with the practices
        described in this Privacy Policy, please refrain from using our website.
      </p>
    </div>
  </div>
  {% endblock %}
</section>
