---
title: 'Terms & Conditions'
description: 'Meta description for the page'
permalink: 'terms/'
---

{% extends "layouts/base.html" %} {% block head %} {# link below for social
icons from remix icons cdn #}
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<section id="content-page-851">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Terms & Conditions</h1>
      <h3>Effective Date: August 1, 2023</h3>
      <p>
          These Terms & Conditions outline the rules and guidelines for using
          our website. By accessing or using Ché & Cherice website, you agree to
          comply with and be bound by these Terms & Conditions. If you do not
          agree with any part of these terms, please refrain from using our
          website.
        </p>
        <h4>1. Use of Website:</h4>
        <p>
          You must be at least 13 years of age to access and use the Ché &
          Cherice website. By using our website, you represent that you are at
          least 13 years old.
        </p>
        <h4>2. Intellectual Property:</h4>
        <p>
          The content, images, videos, text, and other materials on the Ché &
          Cherice website are protected by copyright and other intellectual
          property laws. You may not reproduce, distribute, modify, create
          derivative works from, or publicly display any content from our
          website without our prior written consent.
        </p>
        <h4>3. User Conduct:</h4>
        <p>
          When using Ché & Cherice website, you agree to:
        </p>
        <ul>
          <li>Respect the rights and privacy of others.</li>
          <li>Not use the website for any illegal or unauthorized purpose.</li>
          <li>
            Not engage in any activity that could harm, disrupt, or interfere
            with the functionality of the website.
          </li>
          <li>
            Not attempt to gain unauthorized access to our systems, networks, or
            user accounts.
          </li>
        </ul>
        <h4>4. Affiliate Links:</h4>
        <p>
          Ché & Cherice website, may include affiliate links on certain pages or
          posts. Please refer to our separate Affiliate Disclosure
          </Link>
          for more information on how affiliate links work.
        </p>
        <h4>5. Limitation of Liability:</h4>
        <p>
          We strive to provide accurate and reliable information on Ché &
          Cherice website, but we make no warranties or guarantees regarding the
          accuracy, completeness, or reliability of the content. We are not
          liable for any direct, indirect, incidental, consequential, or other
          damages resulting from the use or misuse of the information provided
          on our website.
        </p>
        <h4>6. Third-Party Links:</h4>
        <p>
          Our website may contain links to third-party websites and resources.
          We do not endorse, control, or guarantee the accuracy, relevance,
          timeliness, or completeness of any external content. Clicking on
          external links is at your own risk, and you should review the privacy
          policies and terms of use of any linked websites.
        </p>
        <h4>7. Indemnification:</h4>
        <p>
          You agree to indemnify and hold Ché & Cherice, its affiliates, and its
          representatives harmless from any claims, damages, liabilities, or
          expenses arising from your use of the website or any violation of
          these Terms & Conditions.
        </p>
        <h4>8. Changes to Terms & Conditions:</h4>
        <p>
          We may update these Terms & Conditions from time to time to reflect
          changes in our practices or for other operational, legal, or
          regulatory reasons. Any changes will be posted on this page, and the
          effective date will be updated accordingly. We encourage you to review
          these Terms & Conditions periodically.
        </p>
        <h4>9. Governing Law:</h4>
        <p>
          These Terms & Conditions are governed by and construed in accordance
          with the laws of Delaware, without regard to its conflict of law
          principles.
        </p>
        <h4>10. Contact Us:</h4>
        <p>
          If you have any questions or concerns about these Terms & Conditions,
          please contact us at hello@cheandcherice.com. By using the Ché &
          Cherice website, you acknowledge that you have read and understood
          these Terms & Conditions and agree to their terms. If you do not agree
          with the practices described in this document, please refrain from
          using our website.
        </p>
    </div>
  </div>
  {% endblock %}
</section>
