---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/local.css" />
<link rel="stylesheet" href="/css/critical.css" />
{# link below for social icons from remix icons cdn #}
<link
  href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on('init', (user) => {
      if (!user) {
        window.netlifyIdentity.on('login', () => {
          document.location.href = '/admin/';
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper">Millennial Marriage with a Twist</span>
      <h1 class="cs-title">Lifestyle Creators</h1>
      <p class="cs-text">
        Come along with us on a remarkable journey where we infuse tradition
        with innovation. We'll be sharing our life stories, thrilling
        adventures, and profound insights on creating a contemporary, purposeful
        partnership. Immerse yourself in our world and uncover how we're
        reshaping the very essence of couplehood in today's ever-changing
        landscape.
      </p>
      {# <a href="/about" class="cs-button-solid">Explore More</a> #}
      <a href="/podcast" class="cs-button-transparent">
        <i class="ri-play-circle-fill circle-arrow"></i>
        Listen To Podcast
      </a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp" />
    <source media="(min-width: 601px)" srcset="/assets/images/landing.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/landing.webp"
      alt="new home"
      width="2500"
      height="1667"
      loading="eager"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/story-m.webp"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/story.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/story.webp"
          alt="modern living room"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/story-2-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/story-2.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/story-2.webp"
          alt="ché and cherice"
          loading="lazy"
          width="400"
          height="563"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper"><span>Meet</span> Ché & Cherice</span>
      <h2 class="cs-title">Our Story</h2>
      <p class="cs-text">
        Our paths crossed in September 2020, leading us into a profound love
        story, woven into the fabric of the universe's grand design. Fueled by
        passion and a commitment to spreading love within the LGBTQ+ community,
        we began our transformative journey, launching a YouTube channel just
        one month later.
      </p>
      <p class="cs-text">
        Since marrying in August 2022 and embracing Ohio as our home, our shared
        wanderlust has taken us on incredible adventures worldwide, deepening
        our bond and creating cherished memories.
      </p>
      <div class="cs-flex-group">
        <p class="cs-flex-p">
          Today, our hearts are filled with joy as we curate must-haves for our
          home, venture into the wonders of foreign lands, and cherish the
          boundless growth we experience together.
        </p>
        {# <span class="cs-name">Justin Time</span> #} {#
        <span class="cs-job">CEO-Founder</span> #}
        <img
          class="cs-quote-icon"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
          alt="gavel"
          width="136"
          height="77"
        />
      </div>
      <a href="/about" class="cs-button-solid"
        >Learn More About Us
        <i class="ri-arrow-right-double-line right-arrow"></i>
      </a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/blog-1-m.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/blog-1.webp"
        />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/blog-1.webp"
          alt="house"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/blog-m.webp"
        />
        <source media="(min-width: 601px)" srcset="/assets/images/blog.webp" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/blog.webp"
          alt="computer"
          loading="lazy"
          width="400"
          height="560"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">Married Millennials</span>
      <h2 class="cs-title">Lifestyle Bloggers & Podcasters</h2>
      <p class="cs-text">
        Welcome to loving space, where we're all about celebrating life, love,
        and adventure. We are not just Lifestyle Bloggers – we are storytellers
        sharing our travel discoveries with you. Whether we are savoring global
        flavors, soaking up diverse cultures, or spilling the tea on the latest
        lifestyle goods, we've got you covered.
      </p>
      <p class="cs-text">
        And hey, we're not stopping there. As Married Millennial Podcasters,
        we're diving deep into the world of modern-day love and marriage, all
        while keeping it real and oh-so-relatable. From practical relationship
        advice to the occasional laugh-out-loud moment, our podcast is your safe
        space to explore the beauty and complexities of millennial love.
      </p>
      <a href="/blog" class="cs-button-solid"
        >Read Our Blog <i class="ri-arrow-right-double-line right-arrow"></i>
      </a>
      <a href="/contact" class="cs-button-transparent">
        <i class="ri-play-circle-fill circle-arrow"></i>
        Listen To Podcast
      </a>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
