/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: calc(40 / 16 * 1rem);
    }

    .cs-left {
      /* scaling the font size with the view width */
      font-size: min(2.31vw, 0.7em);
      /* using ems so we can use font size to scale the whole section */
      width: calc(631 / 16 * 1em);
      height: calc(636 / 16 * 1em);
      position: relative;
    }

    .cs-picture {
      border-radius: calc(24 / 16 * 1em);
      /* clips img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes image act like a background image */
        object-fit: cover;
      }
    }

    .cs-picture1 {
      width: calc(522 / 16 * 1em);
      height: calc(581 / 16 * 1em);
      left: 0;
      top: 0;
    }

    .cs-picture2 {
      width: calc(414 / 16 * 1em);
      height: calc(400 / 16 * 1em);
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      /* 6px - 12px */
      border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
      right: 0;
      bottom: 0;
    }

    .cs-right {
      margin: auto;
      max-width: calc(542 / 16 * 1rem);
    }

    .cs-topper {
      text-align: left;
      margin-bottom: calc(4 / 16 * 1rem);
    }

    .cs-title {
      text-align: left;
      max-width: calc(800 / 16 * 1rem);
      margin-bottom: calc(16 / 16 * 1rem);
    }

    .cs-text {
      text-align: left;
      max-width: calc(750 / 16 * 1rem);
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--bodyTextColor);

      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-flex-group {
      /* 16px - 32px */
      padding: clamp(1rem, 3vw, 2rem);
      background-color: #f7f7f7;
      border-radius: calc(16 / 16 * 1rem);
      position: relative;
    }

    .cs-flex-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0 0 calc(16 / 16 * 1rem);
      color: #353535;
    }

    .cs-name {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 calc(4 / 16 * 1rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-job {
      font-size: calc(14 / 16 * 1rem);
      line-height: 1.5em;
      color: #353535;
      display: block;
    }

    .cs-quote-icon {
      /* 60px - 136px */
      width: clamp(3.75rem, 10vw, 8.5rem);
      height: auto;
      position: absolute;
      bottom: calc(0 / 16 * 1rem);
      /* 16px - 32px */
      right: clamp(1rem, 4vw, 2rem);
    }

    .cs-button-solid {
      margin-top: calc(32 / 16 * 1rem);
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs {
    .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: calc(52 / 16 * 1rem);
    }

    .cs-left {
      font-size: min(1.2vw, 1em);
      flex: none;
    }

    .cs-right {
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #sbs {
      .cs-left {
        &:before,
        &:after {
          background: var(--accent);
        }
      }

      .cs-picture2 {
        background-color: var(--dark);
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
      }

      .cs-topper {
        color: var(--primaryLight);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-flex-p,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-flex-group {
        background-color: var(--accent);
      }

      .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
      }

      .cs-quote-icon {
        opacity: 0.2;
      }
    }
  }
}

/*-- -------------------------- -->
<---         Get To Know Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-892 {
    /* Centers Button */
    text-align: center;
    padding: var(--sectionPadding);
    /* prevents the arrow from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 2vw, 4rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: calc(4 / 16 * 1rem);
      display: block;
    }

    .cs-title {
      font-size: var(--headerFontSize);
      font-family: 'DMSerifDisplay';
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: calc(700 / 16 * 1rem);
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: calc(650 / 16 * 1rem);
      margin: 0.5rem;
      color: var(--bodyTextColor);
    }

    .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      max-width: calc(1000 / 16 * 1rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 100;
      text-decoration: none;
      display: inline-block;
      width: auto;
      line-height: calc(50 / 16 * 1em);
      height: calc(50 / 16 * 1rem);
      text-align: center;
      padding: 0 calc(30 / 16 * 1rem);
      position: relative;
      z-index: 1;
      background-color: var(--secondary);

      // Transition Properties
      color: #fff;
      transition: color 0.3s;
      transition-delay: 0.1s;

      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #000;

        //Transition properties
        width: 0;
        transition: width 0.3s;
      }
    }

    .right-arrow {
      color: var(--primary);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      width: 100%;
      text-align: left;
      list-style: none;
      /* 20px - 32px */
      padding: clamp(1.25rem, 2.3vw, 2rem);
      background-color: var(--primaryLight);
      border-radius: calc(16 / 16 * 1rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      grid-column: span 6;
      position: relative;
      z-index: 1;
    }

    .cs-icon {
      width: calc(48 / 16 * 1rem);
      height: auto;
      margin: 0 0 calc(20 / 16 * 1rem) 0;
      display: block;
    }

    .cs-h3 {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0 0 calc(12 / 16 * 1rem) 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }

    .cs-floater {
      width: calc(351 / 16 * 1rem);
      height: auto;
      display: none;
      position: absolute;
      top: calc(-220 / 16 * 1rem);
      right: calc(-60 / 16 * 1rem);
      transform: rotate(-66deg);
      color: var(--primaryLight);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-892 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 2;
    }

    .cs-floater {
      display: block;
    }
  }
}

/*-- -------------------------- -->
<---        Collaborations         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-289 {
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: calc(4 / 16 * 1rem);
      display: block;
    }

    .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: calc(700 / 16 * 1rem);
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: calc(650 / 16 * 1rem);
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      max-width: calc(522 / 16 * 1rem);
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);
    }

    .cs-item {
      list-style: none;
      text-align: left;
      width: 100%;
      padding: calc(32 / 16 * 1rem);
      background-color: #f7f7f7;
      border-radius: calc(16 / 16 * 1rem);
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      transition: background-color 0.3s;
      &:hover {
        background-color: var(--primaryLight);
        cursor: pointer;

        .cs-icon {
          filter: grayscale(1) brightness(200%);
        }

        .cs-h3 {
          color: var(--secondary);
        }

        .cs-item-text {
          color: var(--secondary);
        }
      }
    }

    .cs-icon {
      width: auto;
      height: calc(48 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      display: block;
      transition: filter 0.3s;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      line-height: 1.2em;
      margin: 0;
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color 0.3s;
    }
    .brand-icon {
      width: 1rem;
      height: 2rem;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-289 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      gap: calc(64 / 16 * 1rem);
    }

    .cs-flex {
      width: 50%;
    }

    .cs-title {
      margin: 0;
    }

    .cs-card-group {
      justify-content: space-between;
      /* makes sure every box "stretches" to be the same height as the tallest box */
      align-items: stretch;
      flex-direction: row;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
    }

    .cs-item {
      width: auto;
      /* 16px - 32px */
      padding: calc(32 / 16 * 1rem) clamp(1rem, 2.1vw, 2rem);
    }
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1229 {
    padding: var(--sectionPadding);
    margin: 6rem 0;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: var(--primaryLight);
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-container {
      /* changes to 1280px at desktop */
      max-width: calc(584 / 16 * 1rem);
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(32 / 16 * 1rem);
    }

    .cs-flex {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      font-size: var(--headerFontSize);
      line-height: 1.2em;
      font-weight: 900;
      text-align: inherit;
      max-width: calc(700 / 16 * 1rem);
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      max-width: calc(650 / 16 * 1rem);
      width: 100%;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-title {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      max-width: 20ch;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 16px - 40px top & bottom */
      /* 16px - 32px left & right */
      padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
      box-sizing: border-box;
      background: #f7f7f7;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      gap: calc(12 / 16 * 1rem);
      /* clips cs-icon overflowing */
      overflow: hidden;
      grid-column: span 6;
    }

    .cs-icon {
      /* 32px - 40px */
      width: clamp(2rem, 3vw, 2.5rem);
      height: auto;
      margin: 0;
      flex: none;
    }

    .cs-h3 {
      /* 16px - 25px */
      font-size: clamp(1rem, 2vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 900;
      width: 100%;
      margin: 0;
      color: var(--headerColor);
      /* wraps longer words on the smallest screen sizes */
      overflow-wrap: break-word;
    }

    .cs-stat-group {
      width: 100%;
      margin: auto;
      padding: 0;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(6, 1fr);
    }

    .cs-stat {
      list-style: none;
      margin: 0;
      /* 16px - 40px */
      padding: clamp(1rem, 3vw, 2.5rem) calc(16 / 16 * 1rem);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      grid-column: span 2;

      /* border code */
      &:before {
        content: '';
        width: 2px;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(72, 72, 72, 0) 0%,
          rgba(72, 72, 72, 1) 50%,
          rgba(72, 72, 72, 0) 100%
        );
        position: absolute;
        top: 0;
        right: 0;
      }

      /* remove the border on the far-right elements */
      &:nth-of-type(3),
      &:nth-of-type(5) {
        &:before {
          content: none;
        }
      }

      /* makes the last two items span across multiple columns. changes at desktop to one line */
      &:nth-of-type(4),
      &:nth-of-type(5) {
        grid-column: span 3;
      }
    }

    .cs-desc {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: center;
      /* keeps the width of the stat description from overflowing onto the border */
      /* 88px - 176px */
      width: clamp(5.5rem, 20vw, 11rem);
      margin-bottom: calc(8 / 16 * 1rem);
      color: #858585;
      display: block;
    }

    .cs-number {
      /* 25px - 49px */
      font-size: clamp(1.5625rem, 3vw, 3.0625rem);
      line-height: 1.2em;
      font-weight: 900;
      margin: 0;
      color: var(--headerColor);
      display: block;
    }
  }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-1229 {
    .cs-container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cs-card-group {
      display: grid;
      /* makes all grid items stretch to have the same height if their content isn't all the same height */
      align-items: stretch;
      grid-template-columns: repeat(2, 1fr);
    }

    .cs-item {
      grid-column: span 1;
      flex-direction: row;
      align-items: center;
    }

    .cs-stat-group {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1229 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .cs-content {
      flex-direction: row;
      align-items: center;
    }

    .cs-title,
    .cs-text {
      max-width: none;
    }

    .cs-card-group {
      width: 50%;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-stat-group {
      max-width: calc(1280 / 16 * 1rem);
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
    }

    .cs-stat {
      grid-column: span 1;

      &:nth-of-type(4),
      &:nth-of-type(5) {
        grid-column: span 1;
      }

      &:nth-of-type(3) {
        &:before {
          content: '';
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1312 {
    padding: var(--sectionPadding);
    margin: 6rem 0;
    background-color: #f7f7f7;

    .cs-container {
      width: 100%;
      /* changes to 1920px at desktop */
      max-width: calc(400 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
    }

    .cs-quote {
      /* 31px - 49px */
      font-family: 'DMSerifDisplay';
      font-size: clamp(1.9375rem, 5.1vw, 3.5rem);
      line-height: 1.2em;
      font-weight: bold;
      margin: 0;
      margin-bottom: calc(24 / 16 * 1rem);
      color: #1a1a1a;
      text-align: inherit;
    }

    .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3.25vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      margin-bottom: calc(8 / 16 * 1rem);
      color: var(--primary);
      display: block;
      text-align: inherit;
    }

    .cs-job {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: inherit;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      position: relative;
      row-gap: calc(64 / 16 * 1rem);

      /* horizontal line */
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #e8e8e8;
        position: absolute;
        top: 50%;
      }
    }

    .cs-flex-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      /* vertical line */
      &::before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #e8e8e8;
        position: absolute;
        right: 50%;
      }
    }

    .cs-item {
      /* as the child .cs-number is absolutely positioned, it won't contribute to the size of the box */
      /* we can set the height equal to the font-size which works around this */
      /* 100px - 120px */
      height: clamp(6.25rem, 11vw, 10rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .cs-number {
      /* 100px - 120px */
      font-size: clamp(6.25rem, 8vw, 10rem);
      line-height: 1.2em;
      font-weight: 900;
      margin: 0;
      color: #e8e8e8;
      display: block;
    }

    .cs-stat {
      /*20px - 25pxx */
      font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
      line-height: 1.5em;
      font-weight: bold;
      margin: calc(16 / 16 * 1rem) 0 0 0;
      color: var(--headerColor);
      display: block;
      position: absolute;
      z-index: 2;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1312 {
    .cs-container {
      max-width: calc(1920 / 16 * 1rem);
    }

    .cs-card-group {
      flex-direction: row;

      /* turn horizontal line into vertical*/
      &::after {
        width: 1px;
        height: 100%;
        top: initial;
        right: 50%;
      }
    }

    .cs-flex-group {
      justify-content: space-around;
      flex: 1;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-1312 {
    .cs-content {
      max-width: calc(850 / 16 * 1rem);
    }
  }
}
